*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Bree Serif', serif;
}
/*body section*/
body{}

a {
  text-decoration: none;

}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

h1{
  font-size: 36px;

}

h6{
  font-size: 70px;
}


/*Header Section*/




.tm-header1 {
  background: url(/images/section1nyc.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:contain;
  background-position: center center;
  background-color: black;
}

.tm-container{
  max-width: 1480px;
  margin: 20px;

}

.tm-header{
  background: #fff ;

}

.tm-header::after {
  content: " ";
  clear: both;
  display: block;
  visibility:hidden;
}


.text-intro h1{
  color: rgb(255, 255, 255, 0.6);
  position:relative;
  margin-left: 10%;
  margin-right: 10%;
  top: 30px;
  text-align: center;
  font-size-adjust: auto;


}
@media screen and (min-width: 400px){
    .text-intro h1{
    color: white;
    background-image: url(images/bg400x600.jpg);
    }


  .text-tel a{
  text-align: center;
  text-decoration: none;
  position: relative;
  font-size: 56px;
  top: 110px;
  color:  #FF5733;
  font-family: 'Bree Serif', serif;
}

.text-telw {
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 105px;
  color:  white;
  font-size: 24px;
  font-family: 'Bree Serif', serif;

}




/*navbar section*/
.tm-logo{
  line-height: 40px;
  float: left;

}

.tm-nav{
  float: right;
  font-size: 20px;

}

 .tm-nav ul li{
   display: inline-block;

 }

.tm-nav ul li a{
  font-family: 'Open Sans', sans-serif;
   display:inline-block;
   padding: 10px 25px;
   text-decoration: none;
   line-height: 50px;
   color: black;
   position:relative;

}

.tm-nav li a:hover:not(.active) {
     color:white;
     background: #00a3d9;

}

.active {
      background-color: white;
}






/* use it to resize and change to different image on mobile
@media (max-width: 300px) {
  .tm-header1 {
    background-color: #333333;
    background-image:url(/images/200x300.jpg);
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  .tm-header1 {
    background-color: #666666;
    background-image:url(/images/400x600.jpg);
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .tm-header1 {
    background-color: #999999;
    background-image: url(/images/500x768.jpg);
  }
*/



/*second part of code*/

}
.btn-xl {
  font-family: 'Bree Serif', serif;
  background-color: #00A3D9;
  border-color: #070005;
  border-radius: 3px;
  font-size: 26px;
  padding: 5px 12px;
  text-decoration: none;
  color:  white;
  position: absolute;
  left: 41%;
  right: 41%;
  text-align: center;
    top: 480px;
}




}
