*{
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;


/*font family
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Bree Serif', serif;
*/

}

    /*body styiling*/
body{
  background: #eeeeee;
}

p{
  margin-bottom: 0px;
}

h1, h2, {
    margin-bottom: 10px;
    font-size: 12vw;

}
img{
  display: block;
  max-width: 100%;
}
    /*Header styling*/

.tm-header{
  background: #fff ;
}

.tm-container{
  max-width: 1200px;
  margin: 0px auto;

}

.tm-content{
  margin-top: 10px;
  margin-bottom: 10px;
    max-width: 74%;
    float: left;
}

.tm-sidebar{
  max-width: 30%;
  float: right;
  width: 25%;
  margin-top: 10px;
  text-decoration: none;


}

.tm-sidebar div{
  background: #00A3D9;
  padding: 20px;
    text-decoration: none;
}
.tm-sidebar div ul ol a{
  text-decoration: none;
  color: #fff;


}
.tm-whatwedo{
  text-align: center;
  padding: 10px;
}
.tm-header::after {
    content: " ";
    clear: both;
    display: block;
    visibility:none;
}
.tm-logo{
  float: left;
}

.tm-article {
  background: #fff;
  color: #0085B2;
  text-align: center;
  margin-top: 10px;
  padding-left: 15%;
  padding-right: 15%;

}

.tm-tel{
    text-decoration: none;
  padding-left: 5%;
  padding-right: 5%;

  color: magenta;
}

    /*nav bar styling*/

.tm-nav {
  float:right;
  font-size: 18px;
}

.tm-nav ul li{
  display: inline-block;

}
.tm-nav ul li a{
padding: 10px 20px;
text-decoration: none;
color: #303030;
line-height: 62px;

}

.tm-nav li a:hover {
     color:#00A3D9;
     background: black;
}

.active {
      background-color: black;
}

/*navbar section*/

/*footer*/
.clear-fix::after {
    content: " ";
    clear: both;
    display: block;
    visibility:none;
}

.tm-footer{

  background: #fff;
  text-align: center;
  padding: 10px;

}











/* use it to resize and change to different image on mobile
@media (max-width: 300px) {
  .tm-header1 {
    background-color: #333333;
    background-image:url(/images/200x300.jpg);
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  .tm-header1 {
    background-color: #666666;
    background-image:url(/images/400x600.jpg);
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .tm-header1 {
    background-color: #999999;
    background-image: url(/images/500x768.jpg);
  }
*/



/*second part of code*/

}
.btn-xl {
  font-family: 'Bree Serif', serif;
  border-color: #00A3D9;;
  border-radius: 3px;
  font-size: 26px;
  padding: 20px 20px;
  text-decoration: none;
  color:  #00A3D9;;
  position: absolute;
  left: 38%;
  right: 38%;
  text-align: center;
    bottom: 5%;
}




}
